body {
    font-family: "Ysabeau Infant", sans-serif;
    background-color: #FEFAE0;
    margin: 0;

}

/* Logo */
.logo-container {
    /* font-family: "Bodoni Moda SC", serif; STARE */
    font-family: "Ribeye Marrow", serif;
    position: relative;
    width: 100%;
    text-align: center;
    transition: all 1s ease;
    margin-top: 50px;
}
.logo-container.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center; /* Wyśrodkowanie logo po przewinięciu */
    padding: 10px 0;
    margin-top: 0;
    z-index: 1001; /* Wyższy z-index, aby było nad innymi elementami */
}
.logo {
    font-size: 85px; /* Duży rozmiar na początku */
    color: #fff;
    transition: all 1.5s ease; /* Płynna zmiana */
}
.logo-container.scrolled .logo {
    font-size: 1.5rem; /* Zmniejszenie logo po przewinięciu */
    color: #0a0a0a;
}
/* === === === */

/* Navbar*/
.navbar {
    position: fixed;
    width: 100%;
    height: 45px;
    top: 0;
    background-color: rgb(0, 0, 0); /* Transparentny */
    padding: 10px 20px;
    text-align: right; /* Tekst wyrównany do prawej strony */
    z-index: 1000;
    transition: background-color 0.5s ease; /* Płynna zmiana koloru tła */
}
nav.scrolled {
    background-color: rgba(122, 120, 120, 0.8);
}
nav a{
    padding-right: 60px;
    text-decoration: none;
    color: white;
}
.nav-text {
    margin-right: 100px;
}
/* === === === */

/* Powitanie */
.welcome {
    position: relative;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
    background-image: url('../img/kobieta-chusta.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    font-size: 20px;
    text-align: center;
}
/* === === === */

/* Chusty */
section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
section h1 {
    text-align: center;
    text-decoration: underline;
}
section img {
    height: 100px;
    border-radius: 20%;
}
.hidden {
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    /* transform: translateX(-100%) */
}
.show {
    opacity: 1;
    filter: blur(0);
    /* transform: translateX(0) */
}
/* === === === */

/* Ubrania */
.clothes {
    border: 2px solid black;
    height: 100px;
    text-align: center;
    margin-bottom: 10px;
}
/* === === === */

/* Sociale */
.social-icons-area {
    /* border: 2px solid black; */
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.social-icons-area a {
    margin: 10px;
    transition: transform 0.3s ease;
}
.social-icons-area a:hover{
    transform: translateY(-5px);
}
/* === === === */

/* Kontakt */
footer {
    /* border: 2px solid black; */
    width: 100vw;
    position: absolute;
    background: linear-gradient(to right, #B99470, #FEFAE0);
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 14px;
}
.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col {
    flex-basis: 25%;
    padding: 10px;
}
.col .logo{
    width: 230px;
    margin-bottom: 20px;
}
.col h3 {
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
}
.email-id {
    width: fit-content;
    border-bottom: 1px solid #555050;
    margin: 10px 0;
}
ul {
    padding: 0;
}
ul li {
    list-style: none;
    margin-bottom: 9px;
}
ul li a {
    text-decoration: none;
} 
/* === === === */